In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
from __future__ import division

In [4]:
df = pd.read_csv("/data/mysql/pyshell/python/cunliangfenxi.csv", encoding = 'gb2312')
df.head()
# df = pd.read_csv("/data/mysql/pyshell/python/liuliangwangliushi.csv", encoding = 'gb2312')
# df.head()

/data/mysql/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DEVICE_NUMBER,CUST_ITEM,PREPAY_FLAG,INNET_DAY,CREDIT_CLASS,BASIC_CREDIT_VALUE,CREDIT_VALUE,SCORE_VALUE,SEX,BIRTHDAY,...,DATADAY,SMSDAY,UP_SMS,SP_CNT,SP_FEE,HU_CNTA,HUCOUNT,HUBCOUNT,IS_MWU,USER_STATUS
0,18685161808,0,0,1857,13,0,0,4197,F,19650411.0,...,0,10,0,1,0.0,0,0,0,0,0
1,18585952952,0,0,743,12,0,0,1492,F,19570810.0,...,0,21,0,0,0.0,0,0,0,0,0
2,18685899989,1,0,1773,11,1,0,1964,M,19890705.0,...,12,8,0,0,0.0,0,0,0,0,0
3,15599241716,0,1,604,-1,0,0,443,0,19610720.0,...,0,6,0,5,31.0,0,0,0,0,0
4,13086955995,0,0,3679,0,0,0,5099,M,19891119.0,...,0,0,0,7,0.0,0,1,0,0,0

In [5]:
data=df

In [6]:
# print(df.iloc[0])
data.shape[1]

42

In [7]:
half_count = len(data) / 2
# 去掉空缺大于一半以上的值
data = data.dropna(thresh=half_count, axis=1)

In [8]:
# print(df.iloc[0])
data.shape[1]

42

In [9]:
data.columns

Index([u'DEVICE_NUMBER', u'CUST_ITEM', u'PREPAY_FLAG', u'INNET_DAY',
       u'CREDIT_CLASS', u'BASIC_CREDIT_VALUE', u'CREDIT_VALUE', u'SCORE_VALUE',
       u'SEX', u'BIRTHDAY', u'USER_FULL', u'IS_PHONE', u'IS_NEWM', u'IS_23TO4',
       u'IS_HONG', u'ZHUFU', u'CALL_TIME', u'ZHUTIME_D3', u'GPRSDATA_D3',
       u'SMSCNT_D3', u'CALL_10086', u'CALL_10000', u'ZHU_TIME', u'BEI_TIME',
       u'ZHU_TIMEA3', u'CALL_FEE', u'ZHU_CNTA', u'ZHU_CNT', u'BEI_CNT',
       u'GPRS_DATA', u'ZHUDAY', u'BEIDAY', u'DATADAY', u'SMSDAY', u'UP_SMS',
       u'SP_CNT', u'SP_FEE', u'HU_CNTA', u'HUCOUNT', u'HUBCOUNT', u'IS_MWU',
       u'USER_STATUS'],
      dtype='object')

In [10]:
data = data.drop(["DEVICE_NUMBER", "BASIC_CREDIT_VALUE", "CREDIT_VALUE", "USER_FULL", "IS_PHONE", "ZHUTIME_D3", "GPRSDATA_D3", "SMSCNT_D3"], axis=1)

In [11]:
data = data.drop(["ZHU_TIMEA3", "ZHU_CNTA", "ZHU_CNT", "BEI_CNT", "SP_CNT", "HU_CNTA", "HUBCOUNT"], axis=1)

In [12]:
print(data.iloc[0])
data.shape[1]

CUST_ITEM                 0
PREPAY_FLAG               0
INNET_DAY              1857
CREDIT_CLASS             13
SCORE_VALUE            4197
SEX                       F
BIRTHDAY        1.96504e+07
IS_NEWM                   0
IS_23TO4                  0
IS_HONG                   0
ZHUFU                     3
CALL_TIME               920
CALL_10086                0
CALL_10000                0
ZHU_TIME                190
BEI_TIME                730
CALL_FEE                  0
GPRS_DATA              0.06
ZHUDAY                    0
BEIDAY                    0
DATADAY                   0
SMSDAY                   10
UP_SMS                    0
SP_FEE                    0
HUCOUNT                   0
IS_MWU                    0
USER_STATUS               0
Name: 0, dtype: object

27

In [13]:
print(data['USER_STATUS'].value_counts())

0    4915856
A     486270
7     472342
9     375119
B     265971
6     252609
5     252090
V     145959
P     108881
G      89428
S      34874
1      12229
4       9851
F       8338
M       7419
I        840
Q        783
j        688
8        543
N        439
2        424
T        172
R         68
J         32
g         20
e          2
Name: USER_STATUS, dtype: int64

In [14]:
#处理LABLE列
data = data[(data['USER_STATUS'] == "0") | (data['USER_STATUS'] == "A")| 
            (data['USER_STATUS'] == "7")| (data['USER_STATUS'] == "9")
           | (data['USER_STATUS'] == "B")| (data['USER_STATUS'] == "6")
           | (data['USER_STATUS'] == "5")| (data['USER_STATUS'] == "V")| (data['USER_STATUS'] == "P")]

status_replace = {
    "USER_STATUS" : {
        "0": 0,
        "A": 1,
        "7": 1,
        "9": 1,
        "B": 1,
        "6": 1,
        "5": 1,
        "V": 1,
        "P": 1,
    }
}

data = data.replace(status_replace)

In [ ]:
# data['USER_STATUS'] = data['USER_STATUS'].map({ u'0':0,u'1':1,u'2':1,u'3':1,u'4':1,u'5':1,u'6':1,u'7':1,u'8':1,u'9':1,u'A':1,u'a':1,u'B':1,
#                                                 u'b':1,u'c':1,u'C':1,u'd':1,u'D':1,u'E':1,u'e':1,u'F':1,u'f':1,u'H':1,u'h':1,u'i':1,u'I':1,
#                                                 u'M':1,u'm':1,u'N':0,u'n':0,u'Q':1,u'q':1,u'R':1,u'r':1,u's':1,u'S':1,u'T':1,u't':1,u'u':1,
#                                                 u'U':1,u'V':1,u'v':1,u'W':1,u'w':1,u'X':1,u'x':1,u'Y':1,u'y':1,u'Z':0,u'z':0
#                                         })

In [ ]:
#去除某列数据值唯一（先处理NAN的市局）
orig_columns = data.columns
drop_columns = []
for col in orig_columns:
    col_series = data[col].dropna().unique()
    if len(col_series) == 1:
        drop_columns.append(col)
data = data.drop(drop_columns, axis=1)
print(drop_columns)
print data.shape

In [ ]:
#空集数量
null_counts = data.isnull().sum()
print(null_counts)

In [ ]:
#去掉某一列
data = data.drop(["SEX","BIRTHDAY"],axis=1)
#去掉某缺失值
# data = data.dropna(axis=0)

In [ ]:
print(data.dtypes.value_counts())

In [ ]:
# data['USER_STATUS']=np.nan_to_num(data['USER_STATUS'])

In [ ]:
data.columns

In [ ]:
from patsy import dmatrices,dmatrix    #凡是分类变量均要使用哑变量处理
CX = dmatrix ('C(CUST_ITEM) + C(PREPAY_FLAG) + C(ZHUFU)+ C(IS_NEWM) + C(IS_23TO4) + C(IS_HONG)',data = data ,return_type = 'dataframe')

In [ ]:
# XXX=data[[u'CUST_ITEM',u'INNET_DAY',
#        u'CREDIT_CLASS', u'BASIC_CREDIT_VALUE', u'CREDIT_VALUE', u'SCORE_VALUE', u'IS_PHONE', 
#        u'IS_NEWM', u'IS_23TO4',
#        u'IS_HONG',u'CALL_TIME', u'ZHUTIME_D3', u'GPRSDATA_D3',
#        u'SMSCNT_D3', u'CALL_10086', u'CALL_10000', u'ZHU_TIME', u'BEI_TIME',
#        u'ZHU_TIMEA3', u'CALL_FEE', u'ZHU_CNTA', u'ZHU_CNT', u'BEI_CNT',
#        u'GPRS_DATA', u'ZHUDAY', u'BEIDAY', u'DATADAY', u'SMSDAY', u'UP_SMS',
#        u'SP_CNT', u'SP_FEE', u'HU_CNTA', u'HUCOUNT', u'HUBCOUNT', u'IS_MWU',u'USER_STATUS'
#         ]]

剪枝

In [ ]:
XXX=data.drop(["CUST_ITEM","PREPAY_FLAG","ZHUFU","IS_NEWM","IS_23TO4","IS_HONG"], axis=1)

In [ ]:
XX=CX.join(XXX)

In [ ]:
# X = XX.drop(['USER_STATUS'],axis=1)

In [ ]:
# X=XX.iloc[:,:50]
# X=XX.iloc[:,:39]

In [ ]:
# y=XX['USER_STATUS']

#决策树

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report   
from sklearn import metrics  
# from sklearn.ensemble import RandomForestClassifier

AA=XX
AA=AA.iloc[0:3000000,:]
BBB=AA['USER_STATUS']
# AAA=AA.iloc[:,0:50]
AAA=AA.iloc[:,0:39]

X_train,X_test,y_train,y_test = train_test_split(
AAA,BBB,test_size=0.25,random_state=42)

clf = tree.DecisionTreeClassifier(criterion='entropy')
# clf = tree.RandomForestClassifier()
tree_model = clf.fit(X_train , y_train)

In [ ]:
y_prb = tree_model.predict(X_test)

In [ ]:

print(classification_report(y_test,y_prb))
metrics.roc_auc_score(y_test,y_prb)

In [ ]:
# 把决策树结构写入文件 
with open("tree.dot", 'w') as f:  
    f = tree.export_graphviz(clf, out_file=f)

In [ ]:
# 系数反映每个特征的影响力。越大表示该特征在分类中起到的作用越大  
print(clf.feature_importances_)

In [ ]:
AAA.columns

In [ ]:
# 测试结果的打印  
answer = clf.predict(X_train)  
print(X_train)  
print(answer)  
print(y_train)  
print(np.mean( answer == y_train))

#逻辑回归

In [ ]:
# from sklearn.linear_model import LogisticRegression   
 

# # 使用类，参数全是默认的  
# classifier = LogisticRegression(fit_intercept = False, C = 1e9)  
# model = classifier.fit(X, y)               # 训练数据来学习 

# pd.DataFrame(zip(X.columns, np.transpose(model.coef_)),columns=['feature','coef'])

In [ ]:
from sklearn.linear_model import LogisticRegression  
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report   
from sklearn import metrics  



features = XX.iloc[0:2000000,:].drop(['USER_STATUS'],axis=1)
target = XX.iloc[0:2000000,:]['USER_STATUS']


# 阈值越少，流失召回率越高 
X_train,X_test,y_train,y_test = train_test_split(
features,target,test_size=0.25,random_state=42)


#使用类参数全程默认
classifier = LogisticRegression(fit_intercept = False, C = 1e9,class_weight="balanced")  
model = classifier.fit(X_train, y_train)               # 训练数据来学习 


y_pre = model.predict(X_test)
print(classification_report(y_test,y_pre))  
metrics.roc_auc_score(y_test,y_pre) #预测Y值得分

In [ ]:
# 阈值越少，流失召回率越高 
X_train,X_test,y_train,y_test = train_test_split(
features,target,test_size=0.25,random_state=42)

penalty = { 1 : 5 }

#使用类参数全程默认
classifier = LogisticRegression(fit_intercept = False, C = 1e9,class_weight = penalty )  
model = classifier.fit(X_train, y_train)               # 训练数据来学习 


y_pre = model.predict(X_test)
print(classification_report(y_test,y_pre))  
metrics.roc_auc_score(y_test,y_pre) #预测Y值得分